.section1--tarifa {
    background-color: $color_secundario;
    padding-bottom: 20px;
    flex-direction: column;

    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

table {
    border: solid 2px black;
}


.section1-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1--tarifa {
    width: 100%;
    background-color: $color_secundario ;
}

.section2--tarifa {
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-content: center;
}
