header {
    grid-area: header;

    background-color: $color_header;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .titulo {
        text-align: center;
    }
}