.boton {
    background-color: rgb(31, 72, 239);
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    border: solid rgb(3, 3, 60) 2px;
    box-shadow: 50px 3px 57px 18px rgba(0, 0, 0, 0.65);

    &:hover {
        background-color: green;
    }

}
